@import "../../styles/variables.scss";

.stream {
  @extend %page-frame, %row-nowrap;

  &__button {
    width: 100%;
  }

  &__button-container {
    margin-top: 12px;
  }

  &__circular-progress-bar-container {
    width: 244px;
    height: 244px;
    margin-right: 32px;
    position: relative;
  }

  &__circular-progress-bar-label {
    @extend %uppercase-label;
    margin-top: 4px;
    font-size: 14px;
  }

  &__circular-progress-bar-percentage-label {
    font-family: "Larsseit Medium";
    font-size: 44px;
  }

  &__error-label {
    margin-top: 16px;
    color: $rusty-red;
    text-align: center;
  }

  &__error-label:empty {
    margin-top: 0px;
  }

  &__funds-container {
    @extend %col-nowrap;
    height: 100%;
    justify-content: center;
    margin-left: 32px;
  }

  &__left-container {
    @extend %col-nowrap, %frame;
    width: 52%;
    height: 100%;
  }

  &__loader {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 64px;
    height: 64px;
    border-width: 2px 0px 0px 2px;
  }

  &__no-data {
    @extend %absolute-centered-tag;
    color: $space-cadet-black;
    font-family: sans-serif;
    font-size: 20px;
    text-transform: capitalize;
  }

  &__panel-container {
    @extend %col-nowrap, %frame;
    width: 100%;
    padding: 24px;
  }

  &__panel-container-button {
    margin-top: 20px;
  }

  &__right-container {
    @extend %col-nowrap;
    width: 40%;
    height: 100%;
  }

  &__title-label {
    font-family: "Larsseit Medium";
    font-size: 24px;
  }

  &__tooltip {
    z-index: 200;
    background-color: $space-cadet-black !important;
    font-family: sans-serif;
  }

  &__separator {
    width: 100%;
    height: 1px;
    background-color: $glitter-gray;
  }

  &__share-container {
    @extend %col-nowrap, %frame;
    width: 100%;
    margin-top: 40px;
    padding: 24px;
  }

  &__stats-container {
    @extend %col-nowrap;
    flex-grow: 1;
    justify-content: center;
  }

  &__stream-container {
    @extend %row-nowrap;
    width: 100%;
    height: 40%;
    align-items: center;
    justify-content: center;
    padding: 32px 48px 32px 16px;
  }
}

.stream__funds-item {
  @extend %row-nowrap;

  &__label-container {
    @extend %col-nowrap;
    min-width: 160px;
    justify-content: center;
    margin-left: 24px;
  }

  &__separator {
    width: 1px;
    height: 64px;
    background-color: $glitter-gray;
  }

  &__title-label {
    @extend %uppercase-label;
  }

  &__token-logo {
    margin-left: 16px;
  }

  &__value-container {
    @extend %row-nowrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
  }

  &__value-label {
    font-family: "Larsseit Medium";
    font-size: 30px;
  }
}

.stream__stats-item {
  @extend %row-nowrap;
  width: 100%;
  height: 96px;
  align-items: center;
  margin-top: 12px;
  padding: 0px 44px;

  &__icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }

  &__icon-container {
    width: 64px;
    height: 64px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: $denim-blue;
    border-radius: 4px;
  }

  &__info-icon {
    padding: 2px;
    cursor: pointer;
  }

  &__label-container {
    @extend %col-nowrap;
    margin-left: 24px;
    margin-top: 4px;
  }

  &__title-label {
    @extend %uppercase-label;
  }

  &__value-label {
    margin-top: 6px;
    color: $space-cadet-black;
    font-size: 18px;
  }
}

.CircularProgressbar {
  height: 100%;
}

.CircularProgressbar-path {
  stroke: $sandy-yellow !important;
  stroke-linecap: butt !important;
}

.CircularProgressbar-text {
  font-family: "Larsseit Medium";
  fill: $space-cadet-black !important;
}

.CircularProgressbar-trail {
  stroke: $isabelline-white !important;
}
