@import "../../../styles/variables.scss";

.modal-container {
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 200;
  background-color: rgba($black, .6);
}

.modal-container-appear {
  opacity: 0.01;
}

.modal-container-appear.modal-container-appear-active {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}
