@import "../../styles/variables.scss";

.logo {
  @extend %row-nowrap;
  align-items: center;
  width: 200px;
  height: 34px;
  font-size: 24px;
  line-height: 28px;

  &__icon {
    width: 32px;
    height: 34px;
  }

  &__typeface {
    width: 96px;
    height: 30px;
    margin-left: 4px;
    color: $white;
    font-family: "Larsseit Bold";
    font-size: 24px;
    object-fit: cover;
  }
}
