@import "../../styles/variables.scss";

.modal-with-image {
  @extend %centered-modal, %col-nowrap, %frame;
  padding: 24px;
  border-radius: 4px;

  &__button {
    width: 188px;
    height: 48px;
    margin-top: 40px;
  }

  &__image-container {
    width: 144px;
    height: 144px;
    background-color: $glitter-gray;
    border-radius: 50%;
  }

  &__image {
    width: 100%;
    height: 100%;
    margin-top: 4px;
    padding: 28px;
    object-fit: contain;
  }

  &__label-container {
    @extend %col-nowrap;
    width: 100%;
    align-items: center;
    flex-grow: 1;
    margin-top: 24px;
    color: $space-cadet-black;
    text-align: center;
  }

  &__label {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
  }
}

.modal-with-image-appear {
  opacity: 0.01;
}

.modal-with-image-appear.modal-with-image-appear-active {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}
