@import "../../styles/variables.scss";

.header {
  @extend %row-nowrap;
  width: 100vw;
  height: 256px;
  position: absolute;
  top: 0;
  justify-content: space-between;
  padding: 32px 120px 0;
  background-color: $denim-blue;

  &__menu {
    @extend %row-nowrap;
    height: 32px;
  }

  &__link-container {
    @extend %row-nowrap;
    height: 100%;
    align-items: center;
    margin-right: 48px;
  }

  &__link {
    min-width: 72px;
    float: center;
    margin-left: 44px;
    color: $white;
    font-family: "Larsseit Medium";
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}
