@import "../../styles/variables.scss";

.dashboard {
  @extend %frame, %page-frame;
  height: auto;
  min-height: calc(100vh - 144px);
  bottom: auto;
  margin-bottom: 44px;

  &__header-label {
    color: $lavender-gray;
    font-family: "Larsseit Medium";
    font-size: 13px;
    letter-spacing: 0.32px;
    text-transform: uppercase;
  }

  &__loader {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 64px;
    height: 64px;
    border-width: 2px 0px 0px 2px;
  }

  &__no-data {
    @extend %absolute-centered-tag;
    color: $space-cadet-black;
    font-family: sans-serif;
    font-size: 20px;
    text-transform: capitalize;
  }

  &__plus-icon-container {
    @extend %col-nowrap;
    padding: 10px;
    position: absolute;
    right: 28px;
    top: 18px;
    background-color: $denim-blue;
    border-radius: 4px;
  }

  &__plus-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }

  &__title-label {
    @extend %frame-title-label;
    font-size: 28px;
    margin-top: 24px;
    margin-left: 36px;
  }
}

.dashboard__cell {
  @extend %row-nowrap;
  height: 63px;
  align-items: center;
  justify-content: space-between;

  &__external-link {
    padding: 4px;
  }

  &__flow-container {
    padding: 6px 12px;
    border-radius: 4px;
  }

  &__flow-container--in {
    background-color: rgba($jungle-green, 0.1);
    color: $jungle-green;
  }

  &__flow-container--out {
    background-color: rgba($rusty-red, 0.1);
    color: $rusty-red;
  }

  &__flow-label {
    margin-top: 1px;
    letter-spacing: 0.32px;
    font-family: "Larsseit Bold";
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
  }

  &__progress-bar {
    width: 100%;
  }

  &__status-label {
    margin-top: 1px;
    letter-spacing: 0.32px;
    font-family: "Larsseit Bold";
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
  }
}

.ReactTable {
  // height: 100%;
  border: none;
  border-radius: inherit;
}

.ReactTable .rt-td {
  @extend %row-nowrap;
  height: 64px;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 14px;
}

.ReactTable .rt-tbody .rt-td {
  border-right: 1px solid transparent;
}

.ReactTable .rt-tbody .rt-tr-group,
.ReactTable .rt-tbody .rt-tr-group:last-child {
  border-bottom: 1px solid $glitter-gray;
}

.ReactTable .rt-thead.-header {
  padding: 32px 0px 16px;
  border-bottom: 1px solid $glitter-gray;
  box-shadow: none;
}

.ReactTable .rt-thead .rt-th {
  border-right: 1px solid transparent;
}
