@import "../../../config/Config.scss";

.WatcherExtra {
  width: 100%;
  & > .container {
    width: 100%;
    padding-top: 30px;
    & > .content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      & > .info {
        width: 100%;
        & > .container {
          width: 100%;
          & > .content {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 30px;
            & > .progress {
              grid-column: span 1;
              & > .content {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                & > .title {
                  width: 100%;
                  & > .content {
                    width: 100%;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;

                    & > p {
                      font-size: 12pt;
                      font-family: $fontSecondary;
                      color: $colorDark;
                      font-weight: 600;

                      & > span {
                        font-size: 12pt;
                        color: $colorDark;
                        font-weight: 400;
                        margin-right: 10px;
                      }
                    }
                  }
                }

                & > .line {
                  width: 100%;
                  max-width: 200px;
                  & > .content {
                    width: 100%;
                    height: 10px;
                  }
                }
              }
            }
          }
        }
      }

      & > .withdrawButton {
        width: 100%;
        padding-top: 50px;
        & > .container {
          padding: 20px 25px;
          width: calc(100% - 2 * 25px - 2 * 1px);
          border: 1px solid $colorBorder;
          background: #ffffff;
          border-radius: 4px;

          & > .content {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: center;
            text-align: center;
            & > p {
              font-size: 15pt;
              font-family: $fontSecondary;
              color: $colorDark;
              font-weight: 600;

              & > span {
                font-size: 12pt;
                font-family: $fontSecondary;
                color: $colorDark;
                margin-left: 1px;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }
}
