@font-face {
    font-family: "Larsseit";
    src: url("../assets/fonts/Larsseit.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Larsseit Light";
    src: url("../assets/fonts/Larsseit-Light.ttf");
    font-weight: 200;
}

@font-face {
    font-family: "Larsseit Medium";
    src: url("../assets/fonts/Larsseit-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Larsseit Bold";
    src: url("../assets/fonts/Larsseit-Bold.ttf");
    font-weight: 700;
}
