/* Colours */
// Black
$black: #000;
$space-cadet-black: #1f2a4b;

// Blue
$denim-blue: #246eb9;
$malibu-blue: #5ca2ff;
$royal-blue: #2f80ed;
$zumthor-blue: #ebf4ff;

// Brown
$sandy-brown: #f4a261;

// Gray
$concrete-gray: #fafafa;
$dove-gray: #737373;
$glitter-gray: #e7ecf2;
$granite-gray: #666666;
$lavender-gray: #bcc1d5;
$mercury-gray: #e1e1e1;
$silver-gray: #c4c4c4;

// Green
$pigment-green: #00a351;
// Red
$fire-engine-red: #ce2627;
$rusty-red: #da223d;

// White
$white: #fff;
$anti-flash-white: #f3f3f8;
$ghost-white: #f8f9fc;

/* Layout */
%col-nowrap {
  display: flex;
  flex-flow: column nowrap;
}

%row-nowrap {
  display: flex;
  flex-flow: row nowrap;
}

/* Elements */
%bordered-container {
  border-radius: 4px;
  box-shadow: $glitter-gray 0 0 0 2px inset;
}

%borderless-input {
  flex: 1 1 auto;
  background: transparent;
  border: none;
  color: $space-cadet-black;
  font-family: sans-serif;
  outline: none;

  &::placeholder {
    color: $lavender-gray;
    opacity: 1;
  }
}

%centered-modal {
  width: 560px;
  height: 320px;
  align-items: center;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 300;
}

%frame {
  z-index: 100;
  background-color: $white;
  border-radius: 8px;
  box-shadow: rgba($granite-gray, 0.05) 0 0 16px 28px;
}
