/* Colours */
// Black
$black: #000;
$space-cadet-black: #1f2a4b;

// Blue
$denim-blue: #246eb9;
$malibu-blue: #5ca2ff;
$royal-blue: #2f80ed;
$zumthor-blue: #ebf4ff;

// Gray
$concrete-gray: #fafafa;
$dove-gray: #737373;
$glitter-gray: #e7ecf2;
$granite-gray: #666666;
$lavender-gray: #bcc1d5;
$mercury-gray: #e1e1e1;
$silver-gray: #c4c4c4;

// Red
$salmon-red: #ff6871;

// White
$white: #fff;
$anti-flash-white: #f3f3f8;

/* Layout */
%frame {
  z-index: 100;
  background-color: $white;
  border-radius: 8px;
  box-shadow: 0 20 32px rgba($granite-gray, 0.15);
}

%col-nowrap {
  display: flex;
  flex-flow: column nowrap;
}

%row-nowrap {
  display: flex;
  flex-flow: row nowrap;
}

/* Elements */
%borderless-input {
  width: 0;
  flex: 1 1 auto;
  border: none;
  color: $space-cadet-black;
  font-size: 16px;
  outline: none;

  &::placeholder {
    color: $lavender-gray;
  }
}

%input-box {
  @extend %row-nowrap;
  width: 100%;
  height: 64px;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  border: 1.5px solid $glitter-gray;
  border-radius: 4px;
  font-size: 20px;
}

%primary-button {
  font-size: 16px;
  min-width: 256px;
  padding: 16px;
  background-color: $royal-blue;
  border: 1px solid transparent;
  border-radius: 48px;
  color: $white;
  cursor: pointer;
  outline: none;
  user-select: none;
  transition: background-color 300ms ease-in-out;

  &:hover {
    background-color: lighten($royal-blue, 5);
  }

  &:active {
    background-color: darken($royal-blue, 5);
  }

  &:disabled {
    background-color: $mercury-gray;
  }
}
