@import "../../../styles/variables.scss";

.currency-input-panel {
  @extend %col-nowrap;
  height: 64px;
  justify-content: center;
  margin-top: 16px;
  position: relative;
  border: 1.5px solid $glitter-gray;
  border-radius: 4px;
  transition: box-shadow 200ms ease-in-out;

  &__input-row {
    @extend %row-nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    cursor: pointer;
  }

  &__input {
    font-size: 24px;
    @extend %borderless-input;

    &--error {
      color: $salmon-red;
    }

    &[type="number"] {
      -moz-appearance: textfield;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  &__extra-text {
    &--error {
      color: $salmon-red;
    }
  }

  &__currency-select {
    @extend %row-nowrap;
    height: 32px;
    align-items: center;
    border-radius: 4px;
    font-size: 20px;
    outline: none;
    text-align: center;
    user-select: none;
  }

  &__dropdown-icon {
    width: 24px;
    height: 32px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__selected-token-logo {
    margin-right: 6px;
    border-radius: 4px;
    object-fit: contain;
  }
}

.token-modal {
  width: 100%;
  height: 336px;
  bottom: 336px;
  position: relative;
  z-index: 300;
  background-color: $white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-sizing: content-box;
  transition: 250ms ease-in-out;

  &__search-container {
    @extend %row-nowrap;
    padding: 16px;
    border-bottom: 1px solid $mercury-gray;
  }

  &__search-input {
    @extend %borderless-input;
  }

  &__search-icon {
    margin-right: 0.32px;
  }

  &__token-list {
    -webkit-overflow-scrolling: touch;
    height: 280px;
    padding-top: 4px;
    overflow-y: auto;
  }

  &__token-row {
    @extend %row-nowrap;
    align-items: center;
    padding: 16px 24px;
    margin: 4px 8px;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;

    &--selected {
      background-color: $concrete-gray;
      box-sizing: border-box;
      border: 1px solid $mercury-gray;
      border-radius: 8px;

      .token-modal__token-label {
        color: $black;
      }
    }

    &--searching {
      justify-content: center;
      .loader {
        margin-right: 16px;
      }
    }

    &:hover {
      background-color: $concrete-gray;

      .token-modal__token-label {
        color: $black;
      }
    }

    &:active {
      background-color: darken($concrete-gray, 1);
    }

    &--no-exchange {
      color: $dove-gray;
      justify-content: center;
      background-color: darken($concrete-gray, 1);
    }

    &--create-exchange {
      color: $white;
      justify-content: center;
      background-color: $malibu-blue;
      &:hover {
        background-color: lighten($malibu-blue, 1);
      }

      &:active {
        background-color: darken($malibu-blue, 1);
      }
    }
  }

  &__token-logo {
    object-fit: contain;
    border-radius: 4px;
  }

  &__token-label {
    color: $dove-gray;
  }

  @media only screen and (min-width: 768px) {
    max-width: 560px;
    max-height: 768px;
    bottom: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
    padding-bottom: 16px;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 4px;
  }
}

.token-modal-appear {
  bottom: 0;
}

.token-modal-appear.modal-container-appear-active {
  bottom: 0;
}
