@import "../../../styles/variables.scss";

.network-modal {
  @extend %centered-modal, %col-nowrap, %frame;
  height: 320px;
  padding: 24px;
  border-radius: 4px;

  &__image {
    width: 144px;
    height: 144px;
    padding: 20px;
    background-color: $glitter-gray;
    border-radius: 72px;
    object-fit: contain;
  }

  &__label-container {
    @extend %col-nowrap;
    width: 100%;
    align-items: center;
    flex-grow: 1;
    margin-top: 32px;
    color: $space-cadet-black;
    text-align: center;
  }

  &__title {
    font-family: "Larsseit Medium";
    font-size: 28px;
  }

  &__subtitle {
    margin-top: 14px;
    font-family: sans-serif;
    font-size: 16px;
  }
}

.network-modal-appear {
  opacity: 0.01;
}

.network-modal-appear.network-modal-appear-active {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}
