@import "../../../styles/variables.scss";

.redeem-modal {
  @extend %frame, %centered-modal;

  &__button {
    width: 100%;
    margin-top: 28px;
  }

  &__dashed-line {
    margin-top: 10px;
  }

  &__label {
    margin-top: 24px;
    color: $space-cadet-black;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }

  &__separator {
    width: calc(100% + 48px);
    height: 1px;
    margin-top: 16px;
    background-color: $glitter-gray;
  }

  &__funds-container {
    width: 100%;
    margin-top: 12px;
  }

  &__title-label {
    @extend %frame-title-label;
  }
}
