@import "../../config/Config.scss";

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Loader {
  width: 48px;
  height: 48px;
  border: 2x solid transparent;
  border-left: 2px solid #333;
  border-top: 2px solid #333;
  border-radius: 50%;
  animation: spin 1s cubic-bezier(0.4, 0.54, 0.64, 0.92) infinite;
}
