@import "../../styles/variables.scss";

.loader {
  width: 16px;
  height: 16px;
  border: 1px solid transparent;
  border-left: 1px solid $white;
  border-top: 1px solid $white;
  border-radius: 50%;
  animation: spin 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
}
