@import "../../styles/variables.scss";

.referral-modal {
  @extend %centered-modal, %col-nowrap, %frame;
  padding: 24px;
  border-radius: 4px;

  &__label {
    color: $space-cadet-black;
    text-align: center;
  }

  &__number-label {
    margin-top: 16px;
    font-family: "Larsseit Medium";
    font-size: 32px;
  }

  &__separator {
    width: 144px;
    height: 2.5px;
    margin-top: 24px;
    background-color: $independence-black;
  }

  &__social-media-container {
    @extend %row-nowrap;
    justify-content: space-between;
    margin-top: 24px;
  }

  &__social-media-image {
    width: 30px;
    height: 30px;
  }

  &__social-media-item {
    @extend %row-nowrap;
    width: 88px;
    height: 88px;
    align-items: center;
    justify-content: center;
    margin: 12px;
    border-radius: 44px;
  }

  &__social-media-item:hover {
    cursor: pointer;
  }

  &__title-label {
    margin-top: 8px;
    font-family: "Larsseit Medium";
    font-size: 32px;
  }

  &__tooltip {
    z-index: 200;
    font-family: sans-serif;
    opacity: 1;
  }

  &__url-container {
    @extend %row-nowrap;
    width: 100%;
    justify-content: center;
    margin: 20px 16px 0px;
    padding: 18px;
    background-color: $glitter-gray;
    border-radius: 4px;
    color: $independence-black;
    font-size: 18px;
  }

  &__url-container:hover {
    cursor: pointer;
  }

  &__vip-label {
    margin-top: 40px;
    font-size: 18px;
  }
}

@media (max-width: 812px) {
  .referral-modal {
    padding: 16px;

    &__number-label {
      font-size: 28px;
    }

    &__social-media-item {
      width: 72px;
      height: 72px;
      border-radius: 36px;
    }

    &__title-label {
      font-size: 28px;
    }
  }
}
