@import "../../../../config/Config.scss";

.WatcherDataDigit {
  & > p {
    color: $colorDark;
    font-family: $fontSecondary;
    font-weight: 600;
  }
  &[data-size="1"] {
    font-size: 45pt;
  }
  &[data-size="2"] {
    font-size: 35pt;
  }
  &[data-size="3"] {
    font-size: 25pt;
    margin-bottom: 5pt;
  }
  &[data-size="4"] {
    font-size: 15pt;
  }
  &[data-active="false"] {
    & > p {
      user-select: none;
      color: darken($colorBackground, 1%);
    }
  }
}

@media #{$top-sizer-m} {
  .WatcherDataDigit {
    &[data-size="1"] {
      font-size: 35pt;
    }
    &[data-size="2"] {
      font-size: 22pt;
    }
    &[data-size="3"] {
      font-size: 15pt;
      margin-bottom: 9px;
    }

    &[data-size="4"] {
      font-size: 12pt;
    }
  }
}
