@import "../../../styles/variables.scss";

.withdraw-modal {
  @extend %frame, %centered-modal;

  &__button {
    width: 100%;
    margin-top: 28px;
  }

  &__dashed-line {
    margin-top: 10px;
  }

  &__error-label {
    margin-top: 16px;
    color: $rusty-red;
    text-align: center;
  }

  &__error-label:empty {
    margin-top: 0px;
  }

  &__separator {
    width: calc(100% + 48px);
    height: 1px;
    margin-top: 16px;
    background-color: $glitter-gray;
  }

  &__slider {
    width: 100%;
    margin-top: 24px;
  }

  &__funds-container {
    width: 100%;
    margin-top: 12px;
  }

  &__title-label {
    @extend %frame-title-label;
  }
}

.rc-slider-disabled {
  background: transparent;
}

.rc-slider-handle {
  width: 21px;
  height: 21px;
  margin-top: -7.5px;
  margin-left: -11px;
}

.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:focus,
.rc-slider-handle:hover {
  border: solid 2px $sandy-yellow;
}

.rc-slider-handle:active {
  box-shadow: 0 0 5px $sandy-yellow;
}

.rc-slider-handle:focus {
  box-shadow: 0 0 0 5px $lumber-yellow;
}

.rc-slider-rail {
  height: 6px;
  background-color: $isabelline-white;
}

.rc-slider-track {
  height: 6px;
  background-color: $sandy-yellow;
}
