@import "../../styles/variables.scss";

.pay-with-sablier {
  @extend %frame, %row-nowrap;
  width: calc(100vw - 240px);
  height: calc(100vh - 228px);
  position: absolute;
  top: 144px;
  right: 120px;
  bottom: 84px;
  left: 120px;
  color: $space-cadet-black;

  &__button {
    width: 100%;
  }

  /* Form */
  &__error-label {
    margin-top: 12px;
    color: $rusty-red;
  }

  &__form {
    @extend %col-nowrap;
    width: 54%;
    height: 100%;
    padding: 72px 32px 52px 72px;
  }

  &__form-item {
    width: 100%;
    min-height: 102px;
    margin-top: 40px;
    font-size: 16px;
  }

  &__form-item-label {
    font-family: "Larsseit Medium";
    font-size: 16px;
    letter-spacing: 0.32px;
    text-transform: uppercase;
  }

  &__horizontal-container {
    @extend %row-nowrap;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;

    &__separator {
      margin-top: 16px;
    }
  }

  &__icon {
    margin: 0 16px;
  }

  &__input {
    @extend %borderless-input, %bordered-container;
    width: 100%;
    height: 64px;
    padding: 8px 16px;
    font-size: 18px;
    transition: all 250ms ease-in-out;

    &:focus {
      box-shadow: $denim-blue 0 0 0 2px inset, rgba($denim-blue, 0.18) 0 0 0 4px;
    }

    &--invalid {
      box-shadow: $rusty-red 0 0 0 2px inset;

      &:focus {
        box-shadow: $rusty-red 0 0 0 2px inset, rgba($rusty-red, 0.18) 0 0 0 4px;
      }
    }
  }

  &__input-container {
    @extend %row-nowrap;
    margin-top: 16px;
  }

  &__input-container-halved {
    @extend %row-nowrap;
    margin-top: 16px;
    width: 44%;
  }

  &__recipient-icon {
    margin-right: 16px;
  }

  /* Receipt Box */
  &__receipt-container {
    @extend %col-nowrap;
    max-width: 40%;
    max-height: 720px;
    align-items: center;
    flex-grow: 1;
    box-shadow: $glitter-gray 0 0 0 2px inset;
    border-radius: 4px;
    margin: 106px 56px auto 32px;
    padding: 28px 20px;
    text-align: center;
  }

  &__receipt-deposit-button {
    margin-top: 16px;
  }

  &__receipt-deposit-label {
    margin: 8px 4px 0;
    color: $denim-blue;
    font-family: "Larsseit Medium";
    font-size: 64px;
    letter-spacing: 0.32px;
    text-align: center;
  }

  &__receipt-deposit-error-label {
    margin-top: 12px;
    font-size: 15px;
    text-transform: capitalize;
  }

  &__receipt-dashed-line {
    @extend %dashed-line;
    margin-top: 12px;
    font-size: 14px;
  }

  &__receipt-dashed-line-left {
    @extend %dashed-line-left;
  }

  &__receipt-dashed-line-right {
    @extend %dashed-line-right;
  }

  &__receipt-top-label {
    color: $lavender-gray;
    font-size: 16px;
    letter-spacing: 0.64px;
    text-transform: uppercase;
  }

  &__receipt-warning-button {
    margin-top: 32px;
    cursor: inherit;
    font-size: 15px;
  }
}
