@import "../../../../styles/variables.scss";

.sablier-datetime {
  position: relative;
  cursor: pointer;
}

.sablier-datetime-modal {
  z-index: 300;
  background-color: $white;
  border-radius: 8px;
  font-family: sans-serif;
  transition: 250ms ease-in-out;
}

.sablier-datetime-modal-appear {
  opacity: 0.01;
}

.sablier-datetime-modal-appear.sablier-datetime-modal-appear-active {
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}

.react-datepicker {
  &__day {
    &--selected {
      background-color: $denim-blue;

      &:hover {
        background-color: darken($denim-blue, 5%);
      }
    }
  }

  &__portal {
    background-color: transparent;
  }

  &__time-container {
    width: auto;
    padding-bottom: 12px;
  }

  &__time-box {
    width: 96px !important;
  }
}

.react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
  right: 106px;
}
