@import "../../styles/variables.scss";

.web3-status {
  @extend %row-nowrap;
  height: 32px;
  align-items: center;
  border: 1px solid $mercury-gray;
  border-radius: 4px;
  padding: 8px;
  background-color: $anti-flash-white;
  color: $space-cadet-black; // $dove-gray
  font-size: 15px;

  &__container {
    flex: 1 1 auto;
    overflow: hidden;
    margin-right: 4px;
    margin-left: 8px;

    &--pending {
      margin-left: 4px;
    }
  }

  &__icon {
    height: 20px;
    width: 20px;
    border-radius: 18px;
    margin-left: 4px;
    color: $space-cadet-black;
  }

  &__loader {
    @extend %loader;
  }

  &__pending-container {
    @extend %row-nowrap;

    &__label {
      margin-left: 4px;
      text-transform: lowercase;
    }
  }

  &--pending {
    cursor: pointer;
  }
}

.pending-modal {
  width: 100%;
  height: 192px;
  position: relative;
  bottom: 192px;
  z-index: 200;
  background-color: $white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition: 250ms ease-in-out;

  &__transaction-list {
    height: 192px;
    overflow-y: auto;
  }

  &__transaction-row {
    @extend %row-nowrap;
    align-items: center;
    padding: 4px 24px;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
    user-select: none;
  }

  &__transaction-label {
    color: $denim-blue;
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 200;
  }

  &--pending-indicator {
    @extend %row-nowrap;
    color: $denim-blue;
    border: 1px solid $denim-blue;
    background-color: $zumthor-blue;
    padding: 8px 12px;
    border-radius: 100px;
    font-size: 12px;

    & > .loading {
      margin-right: 8px;
    }
  }

  &__header {
    font-size: 16px;
    color: $dove-gray;
    padding: 16px 24px 4px 24px;
  }
}

.pending-modal-appear {
  bottom: 0;
}

.pending-modal-appear.modal-container-appear-active {
  bottom: 0;
}
