@import "../../styles/variables.scss";

.stream {
  @extend %page-frame, %row-nowrap;
  justify-content: space-between;

  &__action-container {
    @extend %col-nowrap, %frame;
    width: 100%;
    height: 46%;
    padding: 24px;
  }

  &__action-container-button {
    margin-top: 20px;
  }

  &__balance-container {
    @extend %col-nowrap;
    height: 100%;
    justify-content: center;
    margin-left: 32px;
  }

  &__button {
    width: 100%;
  }

  &__button-container {
    margin-top: 12px;
  }

  &__circular-progress-bar-container {
    width: 244px;
    height: 244px;
    margin-right: 32px;
  }

  &__circular-progress-bar-label {
    @extend %uppercase-label;
    margin-top: 4px;
    font-size: 14px;
  }

  &__circular-progress-bar-percentage-label {
    font-family: "Larsseit Medium";
    font-size: 44px;
  }

  &__left-container {
    @extend %col-nowrap, %frame;
    width: 52%;
    height: 100%;
  }

  &__right-container {
    @extend %col-nowrap;
    width: 40%;
    height: 100%;
  }

  &__title-label {
    font-family: "Larsseit Medium";
    font-size: 24px;
  }

  &__separator {
    width: 100%;
    height: 1px;
    background-color: $glitter-gray;
  }

  &__social-container {
    @extend %col-nowrap, %frame;
    width: 100%;
    height: 35%;
    margin-top: 44px;
    padding: 24px;
  }

  &__stats-container {
    @extend %col-nowrap;
  }

  &__stream-container {
    @extend %row-nowrap;
    width: 100%;
    height: 40%;
    align-items: center;
    justify-content: center;
    padding: 32px 48px 32px 16px;
  }
}

.stream__balance-item {
  @extend %row-nowrap;

  &__label-container {
    @extend %col-nowrap;
    min-width: 168px;
    justify-content: center;
    margin-left: 24px;
  }

  &__separator {
    width: 1px;
    height: 64px;
    background-color: $glitter-gray;
  }

  &__title-label {
    @extend %uppercase-label;
  }

  &__token-logo {
    margin-left: 8px;
  }

  &__value-container {
    @extend %row-nowrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
  }

  &__value-label {
    font-family: "Larsseit Medium";
    font-size: 30px;
  }
}

.stream__stats-item {
  @extend %row-nowrap;
  width: 100%;
  height: 96px;
  align-items: center;
  margin-top: 12px;
  padding: 0px 44px;

  &__icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }

  &__icon-container {
    width: 64px;
    height: 64px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: $denim-blue;
    border-radius: 4px;
  }

  &__info-icon {
    padding: 2px;
    cursor: pointer;
  }

  &__label-container {
    @extend %col-nowrap;
    margin-left: 24px;
    margin-top: 4px;
  }

  &__title-label {
    @extend %uppercase-label;
  }

  &__tooltip {
    z-index: 200;
  }

  &__value-label {
    margin-top: 6px;
    color: $space-cadet-black;
    font-size: 18px;
  }
}

.CircularProgressbar-path {
  stroke: $sandy-yellow !important;
  stroke-linecap: butt !important;
}

.CircularProgressbar-text {
  font-family: "Larsseit Medium";
  fill: $space-cadet-black !important;
}

.CircularProgressbar-trail {
  stroke: $isabelline-white !important;
}
