@import "../../styles/variables.scss";

.primary-button {
  @extend %row-nowrap;
  height: 64px;
  align-items: center;
  justify-content: center;
  background-color: $denim-blue;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Larsseit Medium";
  font-size: 15px;
  outline: none;
  user-select: none;
  transition: opacity 250ms ease-in-out;

  &__icon {
    width: 19px;
    margin-left: 24px;
    margin-right: auto;
  }

  &__label {
    color: $white;
    letter-spacing: 0.64px;
    text-align: center;
    text-transform: uppercase;
  }

  &__label--black {
    color: $space-cadet-black;
  }

  &__label--no-transform {
    text-transform: none;
  }

  &__spacer-left {
    width: 20px;
    height: 20px;
    margin-left: 24px;
    margin-right: auto;
  }

  &__spacer-right {
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-right: 24px;
  }

  // Colours
  &--red {
    background-color: $rusty-red;
  }

  &--yellow {
    background-color: $sandy-yellow;
  }

  &--white {
    @extend %bordered-container;
    background-color: $white;
  }

  // States
  &--disabled {
    background-color: $ash-gray;
  }

  &:hover {
    opacity: 0.85;
  }
}
