@import "../../../config/Config.scss";

.WatcherData {
  z-index: 2;
  & > .container {
    & > .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      & > .icon {
        & > .content {
          img {
            height: 30px;
            width: 30px;
            object-fit: contain;
          }
        }
      }
      & > .balance {
        margin: 20px 0 40px 0;
        & > .content {
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          & > .separator {
            p {
              color: $colorDark;
              font-family: $fontSecondary;
              font-size: 18pt;
              margin-bottom: 9px;
            }
          }
        }
      }

      & > .info {
        margin-bottom: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        & > .content {
          & > .total {
            & > p {
              font-size: 12pt;
              font-weight: 600;
              font-family: $fontSecondary;
              letter-spacing: 0.5pt;
            }
          }
        }
      }
    }
  }
}
